<app-topbar></app-topbar>

<div class="container">
  <div class="fused-pokemon-section">
    <div class="card-fuse">
      <p class="pokemon-name">
        {{ isLoading ? "Cargando..." : fusedPokemon?.name }}
      </p>
      @if (!isLoading) {
      <img class="pokemon-image" [src]="fusedPokemon?.sprite" alt="pokeApi" />
      }

      <ul class="pokemon-types">
        @for (item of fusedPokemon?.types; track $index) {
        <li>
          {{ isLoading ? "Cargando..." : item }}
        </li>
        }
      </ul>

      <p class="pokemon-moves">
        <strong>Moves: </strong> <span>{{ fusedPokemon?.moves }}</span>
      </p>

      <div class="separator"></div>

      <div class="pokemon-stats">
        <span><strong>HP: </strong>{{ fusedPokemon?.stats?.['hp'] ?? 0 }}</span>
        <span
          ><strong>Attack: </strong
          >{{ fusedPokemon?.stats?.['attack'] ?? 0 }}</span
        >
        <span
          ><strong>Defense: </strong
          >{{ fusedPokemon?.stats?.['defense'] ?? 0 }}</span
        >
        <span
          ><strong>Special Attack: </strong
          >{{ fusedPokemon?.stats?.['special-attack'] ?? 0 }}</span
        >
        <span
          ><strong>Special Defense: </strong
          >{{ fusedPokemon?.stats?.['special-defense'] ?? 0 }}</span
        >
        <span
          ><strong>Speed: </strong
          >{{ fusedPokemon?.stats?.['speed'] ?? 0 }}</span
        >
      </div>

      @if (!favorite) {
      <button class="btn btn-favorites" (click)="addToFavorites()">
        Añadir a favoritos
      </button>
      } @else {
      <button class="btn btn-delete" (click)="removeFromFavorites()">
        Eliminar de favoritos
      </button>
      }
    </div>
  </div>
  <div class="random-pokemons-section">
    <div class="random-pokemons-card">
      <p class="title-random-pokemons">Pokemones random seleccionados</p>

      <div class="list-random">
        @for (item of pokemons; track $index) {
        <div class="item">
          <span class="random-layer-one">
            <span class="random-pokemon-name"
              >{{ $index + 1 }}.- {{ item.name }}</span
            >
            <ul class="pokemon-types">
              @for (type of item.types; track $index) {
              <li>
                {{ isLoading ? "Cargando..." : type }}
              </li>
              }
            </ul>
          </span>

          <span class="random-layer-two">
            <span> HP: {{ item.stats["hp"] }}, </span>
            <span> attack: {{ item.stats["attack"] }}, </span>
            <span> defense: {{ item.stats["defense"] }}, </span>
            <span> special-attack: {{ item.stats["special-attack"] }}, </span>
            <span> special-defense: {{ item.stats["special-defense"] }} </span>
          </span>
        </div>
        }
      </div>

      <button class="btn btn-re-fusion" (click)="refuse()">Re-fusionar</button>
    </div>
  </div>
</div>
