<app-topbar></app-topbar>

<div class="container">
  <div class="fused-pokemon-section">
    <div class="card-fuse">
      <p class="pokemon-name">
        {{ isLoading ? "Cargando..." : fusedPokemon?.name }}
      </p>
      @if (!isLoading) {
      <img class="pokemon-image" [src]="fusedPokemon?.sprite" alt="pokeApi" />
      }

      <ul class="pokemon-types">
        @for (item of fusedPokemon?.types; track $index) {
        <li>
          {{ isLoading ? "Cargando..." : item }}
        </li>
        }
      </ul>

      <p class="pokemon-moves">
        <strong>Moves: </strong> <span>{{ fusedPokemon?.moves }}</span>
      </p>

      <div class="separator"></div>

      <div class="pokemon-stats">
        <span><strong>HP: </strong>{{ fusedPokemon?.stats?.['hp'] ?? 0 }}</span>
        <span
          ><strong>Attack: </strong
          >{{ fusedPokemon?.stats?.['attack'] ?? 0 }}</span
        >
        <span
          ><strong>Defense: </strong
          >{{ fusedPokemon?.stats?.['defense'] ?? 0 }}</span
        >
        <span
          ><strong>Special Attack: </strong
          >{{ fusedPokemon?.stats?.['special-attack'] ?? 0 }}</span
        >
        <span
          ><strong>Special Defense: </strong
          >{{ fusedPokemon?.stats?.['special-defense'] ?? 0 }}</span
        >
        <span
          ><strong>Speed: </strong
          >{{ fusedPokemon?.stats?.['speed'] ?? 0 }}</span
        >
      </div>

      <button class="btn-favorites">Añadir a favoritos</button>
    </div>
  </div>
  <div class="random-pokemons-section"></div>
</div>
