.container {
  display: flex;

  width: 100%;
  height: calc(100% - 90px);
}

.fused-pokemon-section {
  width: 35%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;

  box-sizing: border-box;
}

.card-fuse {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 20px 30px;

  position: relative;
}

.pokemon-name {
  font-size: 35px;
  text-transform: capitalize;
  font-weight: 600;
}

.pokemon-image {
  width: 200px;
  top: -100px;
  right: 0px;
  position: absolute;
}

.pokemon-types {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scrollbar-width: none;

  margin: 0;
  padding: 0;

  gap: 10px;
}
.pokemon-types li {
  list-style: none;
  background-color: #0097a7ff;
  color: white;
  border-radius: 15px;
  padding: 5px 20px;
}

.separator {
  border: 0.5px solid rgb(221, 221, 221);
  margin-bottom: 25px;
}

.pokemon-stats {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  margin-top: 30px;
  width: 100%;
  padding: 10px 30px;

  border-radius: 10px;
  border: none;
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
  cursor: pointer;
}

.btn-favorites {
  background-color: #0097a7ff;
}

.btn-favorites:hover {
  background-color: rgb(21, 163, 179);
}

.btn-delete {
  background-color: rgb(185, 9, 9);
}

.btn-delete:hover {
  background-color: rgb(199, 39, 39);
}

.btn-re-fusion {
  background-color: #0097a7ff;
}

.btn-re-fusion:hover {
  background-color: rgb(21, 163, 179);
}

/*Segunda seccion*/
.random-pokemons-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;

  width: 100%;

  box-sizing: border-box;
}

.random-pokemons-card {
  background-color: white;
  width: 100%;

  border-radius: 10px;
  padding: 20px 30px;
}

.title-random-pokemons {
  font-size: 30px;
  font-weight: 600;
}

.random-pokemon-name {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
}

.random-layer-one {
  display: flex;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 2px;

  padding: 15px 30px;
  border-radius: 20px;

  background-color: rgb(245, 245, 245);
}

.list-random {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .fused-pokemon-section {
    margin-top: 60px;
    width: 100%;
  }
}
